<%- contentFor('HeaderCss') %>
<link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<%- contentFor('body') %>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Add, Edit & Remove</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="kepegawaianList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
                                    id="create-btn" data-bs-target="#showModal"><i
                                        class="ri-add-line align-bottom me-1"></i> Add</button>
                                <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i
                                        class="ri-delete-bin-2-line"></i></button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search" placeholder="Search...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll"
                                                value="option">
                                        </div>
                                    </th>
                                    <th class="sort" data-sort="nama">Nama</th>
                                    <th class="sort" data-sort="tgl_lahir">Tanggal Lahir</th>
                                    <th class="sort" data-sort="jenis_kelamin">Jenis Kelamin</th>
                                    <th class="sort" data-sort="alamat">Alamat</th>
                                    <th class="sort" data-sort="cabang">Cabang</th>
                                    <th class="sort" data-sort="telepon">Telepon</th>
                                    <th class="sort" data-sort="email">Email</th>
                                    <th class="sort" data-sort="jabatan">Jabatan</th>
                                    <th class="sort" data-sort="akses">Akses</th>
                                    <th class="sort" data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr>
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child"
                                                value="option1">
                                        </div>
                                    </th>
                                    <td class="id_pegawai" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#VZ2101</a></td>
                                    <td class="nama">Mary Cousar</td>
                                    <td class="tgl_lahir">marycousar@velzon.com</td>
                                    <td class="jenis_kelamin">580-464-4694</td>
                                    <td class="alamat">ad ds </td>
                                    <td class="cabang">fert</td>
                                    <td class="telepon">06 Apr, 2021</td>
                                    <td class="email">06 Apr, 2021</td>
                                    <td class="jabatan">06 Apr, 2021</td>
                                    <td class="akses">06 Apr, 2021</td>
                                   <!-- <td class="cabang"><span
                                            class="badge badge-soft-success text-uppercase">Active</span></td>-->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn"
                                                    data-bs-toggle="modal" data-bs-target="#showModal">Edit</button>
                                            </div>
                                            <div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteRecordModal">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                    colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                    orders for you search.</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <a class="page-item pagination-prev disabled" href="#">
                                Previous
                            </a>
                            <ul class="pagination listjs-pagination mb-0"></ul>
                            <a class="page-item pagination-next" href="#">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel">Combined Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>

      <!-- Begin unified form -->
      <form action="javascript:void(0);">
        <div class="modal-body">
          <div class="row">
            <!-- First Column -->
            <div class="col-xxl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="idpegawai" class="form-label">ID Pegawai</label>
                        <input type="text" class="form-control" placeholder="Enter your CardID" id="idpegawai">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="nik" class="form-label">NIK</label>
                        <input type="text" class="form-control" placeholder="Enter your NIK" id="nik">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="nama" class="form-label">Nama</label>
                        <input type="text" class="form-control" placeholder="Enter your Fullname" id="nama">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="namabelakang" class="form-label">Nama Belakang</label>
                        <input type="text" class="form-control" placeholder="Enter your Lastname" id="namabelakang">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="tempat" class="form-label">Tempat</label>
                        <input type="text" class="form-control" placeholder="Enter your Place Birth" id="tempat">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="tgllahir" class="form-label">Tgl Lahir</label>
                        <input type="date" class="form-control" id="tgllahir">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label for="alamat" class="form-label">Alamat</label>
                        <textarea class="form-control" id="alamat" rows="3" placeholder="Enter your message"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="provinsi" class="form-label">Provinsi</label>
                        <input type="text" class="form-control" placeholder="Enter your city" id="provinsi">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="kota" class="form-label">Kota</label>
                        <select id="kota" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="kecamatan" class="form-label">Kecamatan</label>
                        <select id="kecamatan" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="desa" class="form-label">Desa</label>
                        <select id="desa" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
                        <select id="jeniskelamin" class="form-select" data-choices data-choices-sorting="true">

                          <option>Pria</option>
                          <option>Wanita</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="wniwna" class="form-label">Kewarganegaraan</label>
                        <select id="wniwna" class="form-select" data-choices data-choices-sorting="true">

                          <option>WNI</option>
                          <option>WNA</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="goldarah" class="form-label">Gol. Darah</label>
                        <select id="goldarah" class="form-select" data-choices data-choices-sorting="true">
               
                          <option>A</option>
                          <option>B</option>
                          <option>AB</option>
                          <option>O</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select id="status" class="form-select" data-choices data-choices-sorting="true">
                          <option>Belum Menikah</option>
                          <option>Menikah</option>
                          <option>Duda</option>   
                          <option>Janda</option>                         
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="kantor" class="form-label">Kantor</label>
                        <select id="kantor" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="agama" class="form-label">Agama</label>
                        <select id="agama" class="form-select" data-choices data-choices-sorting="true">
                          <option>Islam</option>
                          <option>kristen</option>
                          <option>Katolik</option>
                          <option>Hindu</option>
                          <option>Budha</option>
                          <option>Konghuchu</option>
                          <option>Keyakinan</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="notelp" class="form-label">No telp</label>
                        <input type="text" class="form-control" placeholder="Enter your Phone" id="notelp">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Enter your Email" id="email">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Second Column -->
            <div class="col-xxl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="pendidikan" class="form-label">Pendidikan</label>
                        <select id="pendidikan" class="form-select" data-choices data-choices-sorting="true">
                          <option>SD</option>
                          <option>SLTP</option>
                          <option>SLTA</option>
                          <option>D1</option>
                          <option>D2</option>
                          <option>D3</option>
                          <option>S1</option>
                          <option>S2</option>
                          <option>S3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="alumni" class="form-label">Alumni</label>
                        <select id="alumni" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="tahunlulus" class="form-label">Tahun Lulus</label>
                        <select id="tahunlulus" class="form-select" data-choices data-choices-sorting="true">
                          <option>2025</option>
                          <option>2024</option>
                          <option>2023</option>
                          <option>2022</option>
                          <option>2021</option>
                          <option>2020</option>
                          <option>2019</option>
                          <option>2018</option>
                          <option>2017</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="jurusan" class="form-label">jurusan</label>
                        <input type="text" class="form-control" placeholder="Enter your city" id="jurusan">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="jabatan" class="form-label">Jabatan</label>
                        <select id="jabatan" class="form-select" data-choices data-choices-sorting="true">
                          <option>Terapis</option>
                          <option>Kasir</option>
                          <option>DOkter</option>
                          <option>BC</option>
                          <option>Admin</option>
                        </select>
                      </div>
                    </div>
                                                                               <div class="col-md-6">
                      <div class="mb-3">
                        <label for="department" class="form-label">Department</label>
                        <select id="department" class="form-select" data-choices data-choices-sorting="true">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                                                            <div class="col-md-6">
                      <div class="mb-3">
                        <label for="mulaikontrak" class="form-label">Mulai Kontrak</label>
                        <input type="date" class="form-control" placeholder="Enter your city" id="mulaikontrak">
                      </div>
                    </div>
                                                                                <div class="col-md-6">
                      <div class="mb-3">
                        <label for="mulaibekerja" class="form-label">Mulai Bekerja</label>
                        <input type="date" class="form-control" placeholder="Enter your city" id="mulaibekerja">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="statuspegawai" class="form-label">Status Pegawai</label>
                        <select id="statuspegawai" class="form-select" data-choices data-choices-sorting="true">
                          <option>Permanen</option>
                          <option>Kontrak</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="jumlahcuti" class="form-label">Jumlah Cuti</label>
                        <input type="text" class="form-control" placeholder="Onleave" id="jumlahcuti">
                      </div>
                    </div>
                    

<!--
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Kontak Darurat</label>
              
                    </div> -->
<div class="col-12">
  <div class="d-flex align-items-center mb-3">
    <label class="form-label me-2 mb-0 fw-bold">Kontak Darurat</label>
    <div class="flex-grow-1" style="border-top: 1px solid #000;"></div>
  </div>
</div>
                    <div class="col-12">
                      <label for="daruratnama" class="form-label">Nama</label>
                      <input type="text" class="form-control" id="daruratnama" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="darurathubungan" class="form-label">Hubungan</label>
                      <select id="darurathubungan" class="form-select" data-choices data-choices-sorting="true">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="daruratnotelp" class="form-label">No Telp</label>
                      <input type="text" class="form-control" id="daruratnotelp" placeholder="Enter your city">
                    </div>
<div class="col-12">
  <div class="d-flex align-items-center mb-3">
    <label class="form-label me-2 mb-0 fw-bold">Honorarium</label>
    <div class="flex-grow-1" style="border-top: 1px solid #000;"></div>
  </div>
<div class="row">
    <div class="col-lg-12">
           
                <h5 class="card-title mb-0 flex-grow-1"></h5>
                <div>
                    <button type="button" id="addRowHor" class="btn btn-primary btn-sm">Add New Row</button>
                </div>
         
      

                <table id="horariumtable" class="table table-nowrap dt-responsive table-bordered display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tindakan</th>
                            <th>Treatment</th>
                            <th>Obat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            
        
    </div><!--end col-->
</div><!--end row-->
</div>

                  </div>
                </div>
              </div>
            </div> <!-- end second col -->
          </div> <!-- end row -->
        </div> <!-- end modal-body -->

        <!-- Centered submit button -->
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary" id="add-btn">Submit All</button>
          <button type="button" class="btn btn-success" id="edit-btn">Update</button>
        </div>
      </form>
      <!-- End unified form -->
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                        colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you Sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal -->

<%- contentFor('FooterJs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>


<!-- prismjs plugin -->
<script src="assets/libs/prismjs/prism.js"></script>
<script src="assets/libs/list.js/list.min.js"></script>
<script src="assets/libs/list.pagination.js/list.pagination.min.js"></script>

<!-- listjs init -->
<script src="assets/js/pages/kepegawaian.init.js"></script>
<script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- App js -->